@model IEnumerable<mockexam.Models.Bookings>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CheckInDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckOutDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfGuests)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingCreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialRequest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPayed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CheckInDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOutDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfGuests)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingCreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialRequest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPayed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookingsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookingsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookingsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
